{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'swiftmotion_backend/style.css' %}" />


<h1>CSV Upload</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="upload_form">
    <form action="{% url 'swiftmotion_backend:upload_csv' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="filename" class="file_name" type="text" name="filename" placeholder="File Name">
    <br>
    <input id="csv" class="file_upload" type="file" name="csv"/>
    <br>
    <input type="submit" value="Upload File"/>
    </form>
</div>
